html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {position: relative;}

/* MAIN FOOTER DESIGN */
footer {
	position: absolute; 
	bottom: 0; 
	background-color: #313B42;
	width: 100%;
	height: 80px;
	margin: 0;margin-left: 0;margin-right: 0;
}

footer p
{
	color: grey;
	font-size: 0.85em;
	text-align: center;
	margin-top: 32px;
}

h1
{
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	color: #161616;
	line-height: 2em;
}
h2{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.4em;
	color: #353535;

}

h3
{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	color: grey;
	line-height: 0.8em;
	color: #595959;
}

p
{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	color:#707070;
}
em
{
	font-style: italic;
}

#iddescription{
	font-style: italic;
}

.projects
{
	font-style: italic;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
  width: 33%;
  float: right;
  margin-right: 10%;
  margin-top: 1.1em;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .125), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #1E9CFC, #FF3730);

    border-radius: 20px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.avancement1[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #41E2CD, #4C0099);

    border-radius: 20px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.avancement3[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #4BD5EA, #FF236C);

    border-radius: 20px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#iddescription
{
	color: grey;
	font-size: 0.9em;
}

#maincontainer
{
	min-height: 100%; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */

}

#sectionpart {
	flex-grow: 1;
}

/* HEADER DESIGN */

#global_header
{
	width: 100%;
	height: 80px;
	background-color: black;
}

#global_header img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
	width: 5em;
	display: block;
	margin: auto;
	margin-top: 20px;
}

/* MAIN */

#maincontent
{
	background-color: #F9F9F9;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 80px;
}

	/* ID DESIGN */

#idblock
{
	float: left;
	background-color: #F9F9F9;
	max-width: 30%;
	position: sticky; top: 8px;
}

#idblock h1
{
	text-align: center;
}

#idcontent
{
	margin-top: 25px;
	margin-right: 7%;
	margin-left: 8%;
	padding: 10%;
	border-style: solid;
	border-radius: 5px;
	border-color: #F2F2F2;
	border-width: 0.5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	background-color: white;
	line-height: 0.8em;
}


#idinfolist
{
	list-style-type: none;
	display: inline;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	color: grey;
	line-height: 1.3em;
}

#CVname
{
	line-height: 0.2em;
}
.center
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


	/* SECTION PART */

#sectionpart
{

	background-color: white;

	float: right;
	width: 67%;
	margin-right: 2.5%;

}

#sectionpart header
{
	background-image: url("colortag.jpg");
	background-size: 100%;
	height: 360px;
}

#internship
{
	margin-top: 2.5em;
}
.internship
{
	font-size: 1.1em;
}

.skilllist
{
	list-style-type: none;
	display: inline;
	font-family: 'Lato', sans-serif;
	text-align: left;
	color: black;
	font-size: 1em;
  
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.skilllist
{
	line-height: 2em;
}

.skilllist li{
	-webkit-margin-before: 2.5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: em;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0em;
}


#Interesth1, #Readingh1
{
	line-height: 0.5em;
}

section
{
	background-color: white;
	margin: 50px;
	margin-left: 10%; margin-right: 10%;
}


/* SMALL SCREEN CSS */


@media (max-width: 640px) {
  .block {
    display:block;
  }
#idblock {
	position: static;
	float: none;
	width: 100%;
	max-width: none;
	margin: auto;
	border: none;
	border-radius: 0;
	box-shadow: none;
	
}


#idcontent {
	margin: auto;
	padding: none;
	max-width: 100%;
	border:none;
	box-shadow: none;
}

#iddescription{
	font-size: 1em;
}
#sectionpart{
	float: none;
	width: 100%;
	margin: auto;
	padding-top: 5px;
}
#sectionpart header
{
	height: 165px;
}



progress[value] {
	margin-right: 0%;
}
}

@media (max-width: 810px) and (min-width: 640px) {
  .block {
    display:block;
  }
#idblock {
	position: static;
	float: none;
	width: 100%;
	max-width: none;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 30px;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-image: url("colortag.jpg");
	background-position: center;
	background-size: 170%;
	
}


#idcontent {
	margin-right: 10%;
	margin-left: 10%;
	padding: none;
	max-width: 100%;
}

#iddescription{
	font-size: 1em;
}
#sectionpart{
	float: none;
	width: 100%;
	margin: auto;
}
#sectionpart header
{
	background-image: none;
	height: 0px;
	padding-top: 5px;
}


progress[value] {
	margin-right: 0%;
}
}