html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {position: relative;}

/* MAIN FOOTER DESIGN */
footer {
	position: absolute; 
	bottom: 0; 
	background-color: #313B42;
	width: 100%;
	height: 80px;
	margin: 0;margin-left: 0;margin-right: 0;
}

footer p
{
	color: grey;
	font-size: 0.85em;
	text-align: center;
	margin-top: 32px;
}

h1
{
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	color: #161616;
	line-height: 2em;
}
h2{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.4em;
	color: #353535;
	margin-top: 1em;

}

h3
{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	color: grey;
	line-height: 0.8em;
	color: #595959;
}

p
{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	color:#707070;
}
em
{
	font-style: italic;
}

#iddescription{
	font-style: italic;
}

.projects
{
	font-style: italic;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
  width: 33%;
  float: right;
  margin-right: 10%;
  margin-top: 0.53em;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .125), 
	                           rgba(0, 0, 0, .15)),
	   -webkit-linear-gradient(left, #EF2D56, #EF2D56);

    border-radius: 20px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.avancement1[value]::-webkit-progress-value {
 background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .125), 
	                           rgba(0, 0, 0, .15)),
	   -webkit-linear-gradient(left, #18BBF2, #18BBF2);

    border-radius: 20px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.avancement3[value]::-webkit-progress-value {
 background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .125), 
	                           rgba(0, 0, 0, .15)),
	   -webkit-linear-gradient(left, #06D6A0, #06D6A0);

    border-radius: 20px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#iddescription
{
	color: grey;
	font-size: 0.9em;
}

#maincontainer
{
	min-height: 100%; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */

}

#sectionpart {
	flex-grow: 1;
}

/* HEADER DESIGN */

#global_header
{
	width: 100%;
	height: 80px;
	background-color: #181D21;
	position: sticky;top: 0px;
	z-index: 3;
	display: flex;
	transition: all 0.4s ease;


}

#global_header.sticky
{
	width: 100%;
	height: 40px;
	background-color: #181D21;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	position: sticky;top: 0px;
}

#global_header img {
	margin: auto;
	width: 3.5em;
	transition: all 0.4s ease;

}
#global_header.sticky img {
	margin: auto;
	width: 1.5em;

}



/* MAIN */

#maincontent
{
	background-color: #F9F9F9;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 80px;
}

	/* ID DESIGN */

#idblock
{
	float: left;
	
	max-width: 30%;
	position: sticky; top: 35px;
	z-index: 2;
}

#idblock h1
{
	text-align: center;
}

#idcontent
{
	margin-top: 25px;
	margin-right: 7%;
	margin-left: 8%;
	padding: 10%;
	border-style: solid;
	border-radius: 5px;
	border-color: #F2F2F2;
	border-width: 0.5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	background-color: white;
	line-height: 0.8em;
}


#idinfolist
{
	list-style-type: none;
	display: inline;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	color: grey;
	line-height: 1.3em;
}

#CVname
{
	line-height: 0.2em;
}
.center
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.center:hover
{
	width: 90%;
}


	/* SECTION PART */

#sectionpart
{

	background-color: white;
	margin-top: 27px;
	float: right;
	width: 67%;
	margin-right: 2.5%;

}

#sectionpart header
{
	background-image: url("tobias-van-schneider-88137-unsplash.jpg");
	background-position: center;
	background-size: 100%;
	height: 320px;
}

#sectionpart header p
{
	font-family: 'Playfair Display', serif;
	font-size: 4em;
	font-weight: 900;
	color: white;
	line-height: 0em;
	margin-top: 0em;
	padding: 4em;
	padding-top: 4em;
	padding-left: 1.3em;
}

#internship
{
	margin-top: 2.5em;
}
.internship
{
	font-size: 1.1em;
}

.skilllist
{
	list-style-type: none;
	display: inline;
	font-family: 'Lato', sans-serif;
	text-align: left;
	color: black;
	font-size: 1em;
  
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.skilllist
{
	line-height: 2em;
}

.skilllist li{
	-webkit-margin-before: 2.5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: em;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0em;
}


#Interesth1, #Readingh1
{
	line-height: 0.5em;
}

section
{
	background-color: white;
	margin: 50px;
	margin-left: 10%; margin-right: 10%;
}

.buttonwrapper{
  width: 100%;
  margin: auto;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button
{
	display: flex;
  align-items: center;
  justify-content: center;
	width: 90%;height: 13px;
	padding: 10px;
	border-style: none;
	border-radius: 15px;
	border-color: #31E981;
	border-width: 0.5px;
	background-color: #00D9C0;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
	transition-property: width, height, box-shadow, background-color;

    transition-duration: 0.6s
}

.button:hover{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 14px;
}

.button a
{
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-decoration: none;
	font-weight: 400;
	font-size: 1em;
	color: #003C35;

}

#thegreenbutton{
	display: none;
}

.skills h2{
	margin-top: 2em;
}

/* SMALL SCREEN CSS */


@media (max-width: 640px) {
  .block {
    display:block;
  }
#idblock {
	position: static;
	float: none;
	width: 100%;
	max-width: none;
	margin: auto;
	border: none;
	border-radius: 0;
	box-shadow: none;
	
}


#idcontent {
	margin: auto;
	padding: none;
	max-width: 100%;
	border:none;
	box-shadow: none;
}



#iddescription{
	font-size: 1em;
}
#sectionpart{
	float: none;
	width: 100%;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 4em;
}
#sectionpart header
{
	height: 165px;
}



progress[value] 
{
	margin-right: 0%;
}

.center
{
	transition: none;
}

.center:hover
{
	transition: none;
	width: 50%;
}
footer {
	position: absolute; 
	bottom: 0; 
	background-color: #313B42;
	width: 100%;
	height: 150px;
	margin: 0;margin-left: 0;margin-right: 0;
}

#thegreenbutton{
	display: flex;
	margin-top: 1em;
	margin-bottom: none;
}

#thegreenbutton div{
	background-color: #474746;
	color: #E8E8E7;
}
#thegreenbutton div a{
	color: #E8E8E7;
}

footer .buttonwrapper {
	width: 90%;
}

footer p{
	padding-right: 1em;
	padding-left: 1em;
	font-size: 1em;
}
}




@media (max-width: 810px) and (min-width: 640px) {
  .block {
    display:block;
  }
#idblock {
	position: static;
	float: none;
	width: 100%;
	max-width: none;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 30px;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-image: url("tobias-van-schneider-88137-unsplash.jpg");
	background-position: center;
	background-size: 200%;
	
}


#idcontent {
	margin-right: 10%;
	margin-left: 10%;
	padding: none;
	max-width: 100%;
}


#iddescription{
	font-size: 1em;
}
#sectionpart{
	float: none;
	width: 100%;
	margin: auto;
	padding-bottom: 4em;
}
#sectionpart header
{
	background-image: none;
	height: 0px;
	padding-top: 5px;
}

.center
{
	transition: none;
}
.center:hover
{
	transition: none;
	width: 50%;
}

progress[value] {
	margin-right: 0%;
}


footer {
	position: absolute; 
	bottom: 0; 
	background-color: #313B42;
	width: 100%;
	height: 130px;
	margin: 0;margin-left: 0;margin-right: 0;
}

#thegreenbutton{
	display: flex;
	margin-top: 1em;
	margin-bottom: none;

}
#thegreenbutton div{
	background-color: #474746;
}
#thegreenbutton div a{
	color: #E8E8E7;
}

footer .buttonwrapper {
	width: 90%;
}
footer p{
	font-size: 1em;
}
}